<%
pageTitle = "Classes"
%>
<% include ejs/layout/top.ejs %>
<% include ejs/include/header.ejs %>

<section class="section section--yellow">
  <div class="container wider">
    <div class="classes-nav">
      <ul>
        <li><a href="/classList">All Classes</a></li>
        <% categories.forEach(function(category, i) { %>
          <li><a href="/classList/<%= category._id.toString() %>/<%= encodeURIComponent(category.name) %>"><%= category.name %></a></li>
        <% }); %>
      </ul>
    </div>
    <div class="classes-box">
      <h1 class="title"><%= categoryTitle %></h1>
      <div class="row">
        <ul class="video-list">
          <% clases.forEach(function(clas, i) { %>
            <li class="col-md-4 col-sm-6">
              <div class="classbox">
                <div class="video need-decode"><%= clas.link %></div>
                <p class="video-title">
                  <a href="/classDetail/<%= clas._id.toString() %>/<%= encodeURIComponent(clas.title) %>" class="need-decode"><%= clas.title %></a>
                </p>
                <span class="video-desc">
                  <%= clas.healingMode %>  ·  <%= clas.healerName %><i class="fa fa-clock-o"></i> <%= clas.duration %>M
                </span>
                <p class="video-mode">
                  <% if(clas.mode == 'Meditation') { %>
                    <span class="video-mode-orange">Meditation</span>
                  <% } else if(clas.mode =='Exercise') { %>
                    <span class="video-mode-blue">Exercise</span>
                  <% } else if(clas.mode == 'Fireside Chat') { %>
                    <span class="video-mode-black">Fireside Chat</span>
                  <% } else if(clas.mode == 'Meditation/Exercise') { %>
                    <span class="video-mode-pink">Meditation/Exercise</span>
                  <% } else { %>
                    <span class="video-mode-green">Kid Friendly</span>
                  <% } %>
                </p>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>
<% include ejs/include/footer.ejs %>
<% include ejs/layout/bottom.ejs %>
